# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Orbs are reusable packages of CircleCI configuration that you may share across projects, enabling you to create encapsulated, parameterized commands, jobs, and executors that can be used across multiple projects.
# See: https://circleci.com/docs/2.0/orb-intro/
orbs:
  python: circleci/python@1.2

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
          pip-dependency-file: 'requirements-test.txt'
          # args: '-f https://download.pytorch.org/whl/cpu/torch_stable.html'
      - run:
          name: Run tests
          command: pytest energy_monitor/tests/misc

workflows:
  build_and_test:
    jobs:
      - build-and-test
